.container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff26;
}
.container:hover {
  background-color: #ffffff40;
}
.container:active {
  background-color: #ffffff80;
}

.active {
  background-color: #ffffff40;
}
.active:hover {
  background-color: #ffffff80;
}
.active:active {
  background-color: #ffffff40;
}
