.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--appBarHeight);
  background-color: var(--gray900);
  padding: 0 6rem;
  z-index: 10;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  max-width: var(--maxPageContentWidth);
  display: flex;
  align-items: center;
  gap: 3.37rem;
}

.muse_ai {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: transparent;
  background: linear-gradient(180deg, #00f2d5 0%, #ad00ff 100%);
  background-clip: text;
}
