.container {
  position: relative;
  width: 22.5rem;
}

.container ul {
  background-color: #2d2d2d;
  position: absolute;
  top: 3rem;
  width: 100%;
  border-radius: 0.25rem;
  z-index: 10;
  max-height: 10rem;
  overflow-y: scroll;
  filter: drop-shadow(1px 1px 20px var(--black));
}
.container > ul a {
  display: block;
  padding: 0 1rem;
}
.container > ul li {
  padding: 1rem 0;
}
.container > ul a:hover {
  background-color: #ffffff40;
}
.container > ul a + a li {
  border-top: 1px solid #545454;
}

.container svg {
  color: var(--white);
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.input {
  width: 100%;
  border: 0;
  padding: 0.625rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff26;
  height: 2.25rem;
  color: var(--white);
}
.input:focus {
  background-color: #ffffff40;
}

.input::placeholder {
  color: var(--white);
}
