.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: var(--pageHeight);
  background-color: var(--black);
}

.content {
  height: 100%;
  width: 100%;
  max-width: var(--maxPageContentWidth);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.content > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.horizontal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontal_spacing {
  gap: 1.5rem;
}

.subtitle {
  display: inline-block;
  margin-top: 0.75rem;
  color: #ffffff80;
}

.song_list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
