.player main {
  display: flex;
  gap: 2.25rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.player footer {
  width: fit-content;
  margin-left: 1rem;
}

.info > div {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.75rem;
  align-items: center;
}

.info h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.info button {
  height: 1.25rem;
  width: 1.25rem;
}

button.play {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  min-width: 4rem;
  border-radius: 4rem;
  background-color: var(--white);
  color: var(--black);
  transition: all 0.5s;
}
button.play:hover {
  filter: drop-shadow(2px 2px 5px var(--white));
}
